.whiteboard {
  width: 100%;
  height: 100%;

  overflow: hidden;

  cursor: crosshair;

  position: relative;
}

.loading {
  font-size: var(--st-3);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-xs);
}
