.account {
  padding: var(--sp-3xs);

  font-size: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: var(--border) solid transparent;
  outline: none;
  border-radius: var(--radius);

  background: var(--primaryContainer);
  color: var(--primary);

  transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;

  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
}

.account:hover {
  background: var(--primary);
  color: var(--onPrimary);
}

.account:active {
  filter: brightness(90%);
  -ms-filter: brightness(90%);
  -webkit-filter: brightness(90%);
}
