.userbar {
  height: fit-content;
  padding: var(--sp-3xs);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-3xs);
  flex-wrap: wrap;
}

.userbar > div {
  display: flex;
  align-items: center;
  gap: var(--sp-5xs);
}

.joinContainer {
  display: flex;
  align-items: center;
  background: var(--primary);
  border-radius: var(--radius);
}

.codeInput {
  padding: var(--sp-3xs);

  font-size: inherit;
  text-align: center;

  border: var(--border) solid var(--primary);
  outline: none;
  border-radius: var(--radius);

  background: var(--primaryContainer);
  color: var(--primary);
}
